.secret_home {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: linear-gradient(
        45deg,
        #683bbb,
        #683eb6,
        #000a36
    );
}

button {
    border: 2px solid #FFF;
    border-radius: 5px;
    padding: 0 45px;
    height: 50px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;

}

/* button:hover {
    background-color: beige;
} */
