.game h1 {
    font-size: 2.5em;
}

.point span {
    font-weight: bold;
}

.tip span {
    color: yellow;
}


.wordContainer{
    align-items: center;
    justify-content: center;
    margin: 1.5em;
    padding: 1.5em;
    border: 5px solid yellow;
    border-radius: 5px;
    display: flex;
}

.letter, .blankSquare {
    font-size: 40px;
    line-height: 1.2;
    border: 3px solid #000;
    height: 50px;
    width: 50px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    color: #000;
    font-weight: bold;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}
