form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 300px;
}

input, select, textarea {
    display: block;
    margin-bottom: 15px;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}